---
import { Image } from 'astro:assets';
import logo from '../assets/images/logo.png';

const base = import.meta.env.BASE_URL;
---
<footer>
	<div>
		<a href={base}>
			<Image
				src={logo}
				alt="#@ Назва сайту"
				width={88}
				height={88}
			/>
			<span></span>
		</a>
		<div></div>
	</div>
	<!-- Прибрати на клієнтських сайтах -->
	<div class="border-t border-white/10">
		<p class="mx-auto max-w-7xl px-5 py-5 text-center text-xs opacity-60 sm:px-6">
			Це навчальний проєкт для портфоліо. Усі дані вигадані, будь-які збіги з реальними особами, місцями чи подіями є випадковими та не мають на меті відображення реальності.
		</p>
	</div>
</footer>
